/*=== GERAL ===========================================*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --hue: 208;
  --main-color: hsl(252, 29%, 10%);
  --secondary-color: hsl(245, 24%, 18%);
  --primary-color: hsl(var(--hue), 86%, 31%);
  --primary-text-color: hsl(0, 0%, 100%);
  
  font-size: 62.5%;

  --nav-height: 7.2rem;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: var(--main-color);
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  color: var(--primary-text-color);
  text-align: center;
  overflow: overlay;
}

a {
  text-decoration: none;
  color: var(--primary-text-color);
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

section {
  padding-block: 10rem;
}

.wrapper {
  width: min(50rem, 100%);
  margin-inline: auto;
  padding-inline: 2.4rem;
}

section header h4 {
  font-size: 1.4rem;
  line-height: 150%;
  letter-spacing: 0.08rem;
  color: var(--primary-color);
  opacity: .9;
  margin-bottom: 1.6rem;
  text-transform: uppercase;
}

section header h2 {
  font-size: 2.7rem;
  line-height: 3.9rem;
}

section header h1 {
  font-size: 3.8rem;
  line-height: 130%;
  margin-bottom: 2.4rem;
}

section .content p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;
  opacity: .9;
}

/*=== NAVIGATION ===========================================*/
nav {
  display: flex;
  height: var(--nav-height);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
} 

nav .logo h2 {
  font-size: 2rem;
  font-weight: 500;
}

nav .log h2, span {
  color: var(--primary-color);
  font-weight: 700;
  transition: all .3s ease-in-out;
}

nav .log h2, span:hover {
  filter: brightness(1.3);
}

nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav.scroll {
  background: var(--secondary-color);
}

nav.scroll .logo h2 {
  color: var(--primary-color);
  transition: all .3s ease-in;
}

nav.scroll .logo span {
  color: var(--primary-text-color);
}

nav button {
  background: none;
  border: none;
  cursor: pointer;
}

nav .menu,
nav .close-menu {
  position: fixed;
}

/*=== MENU-EXPANDED ===========================================*/
body.menu-expanded {
  overflow: hidden;
}

.menu,
.close-menu,
body.menu-expanded .open-menu {
  opacity: 0;
  visibility: hidden;
}

body.menu-expanded > :not(nav) {
  visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
  opacity: 1;
  visibility: visible;
}

.menu {
  transform: translateY(100%);
}

body.menu-expanded .menu {
  top: 0;
  left: 0;
  background: var(--secondary-color);
  width: 100vw;
  height: 100vh;
  padding-top: var(--nav-height);
  transition: transform 350ms;
  transform: translateY(0);
}

.menu ul:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  margin-top: 6rem;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;
}

.menu .button {
  background: var(--primary-color);
  border-radius: 4rem;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.3rem;
  display: inline-block;
  padding: 1.6rem 3.2rem;
  margin-top: 4.8rem;
  margin-bottom: 8rem;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}

body.menu-expanded .logo,
body.menu-expanded button {
  position: relative;
  z-index: 100;
}

/*=== HOME ===========================================*/
#home {
  padding-block: 0;
  padding-top: calc(4.1rem + var(--nav-height));
}

#home p {
  font-size: 1.6rem;
  line-height: 150%;
  font-weight: 400;
  opacity: .9;
  margin-bottom: 3.2rem;
}

#home a {
  background: var(--primary-color);
  border: none;
  width: 22.3rem;
  height: 5.6rem;
  padding: 12px 32px 16px;
  border-radius: 0.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--primary-text-color);
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  transition: all .3s ease-in-out;
}

#home a:hover {
  filter: brightness(1.2);
}

#home .btn-2 {
  background: transparent;
  border: 1px solid var(--primary-text-color);
 }

 #home .btn-2:hover {
  background: var(--secondary-color);
}

/*=== SERVICES ===========================================*/
#services header h2 {
  margin-bottom: 6rem;
}

#services .cards {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

#services .card {
  padding: 2.4rem;
  text-align: left;
  background: linear-gradient(180deg, #242238 0%, #151221 100%);
  border-radius: .6rem;
}

#services .card h3 {
  margin-block: 1.6rem;
}

/*=== WORKS ===========================================*/
#works header h2 {
  margin-bottom: 6rem;
}

#works .cards {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

#works .card {
  padding: 2.4rem;
}

#works .card img {
  width: 100%;
  max-width: 30rem;
  border-radius: .6rem;
}

/*=== ABOUT ===========================================*/
#about {
  text-align: left;
}

#about header h2 {
  margin-bottom: 2.4rem;
}

#about .content p {
  margin-top: 2.4rem;
  margin-bottom: 6rem;
}

#about img {
  display: block;
  width: 100%;
  padding: 4rem;
  background: linear-gradient(180deg, #242238 0%, #151221 100%);
  border-radius: .6rem;
  transition: all 300ms ease-in-out;
  margin-inline: auto;
}

#about .content img:hover {
  transform: translate(-3%, 3%) scale(1.2);
}

/*=== CONTACT ===========================================*/
#contact {
  text-align: left;
}

#contact header h2 {
  margin-bottom: 2.4rem;
}

#contact .content p {
  margin-bottom: 4rem;
}

#contact form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#contact .form-control {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#contact .form-control input,
#contact input, textarea {
  /* flex: 0.5; */
  padding: 1rem;
  border: none;
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  border-radius: .6rem;
}

#contact .btn {
background: var(--primary-color);
border: none;
height: 5.6rem;
padding: 12px 32px 16px;
border-radius: 0.5rem;
font-family: 'Montserrat', sans-serif;
font-weight: 600;
font-size: 1.5rem;
color: var(--primary-text-color);
margin-top: 1rem;
transition: all .3s ease-in-out;
cursor: pointer;
}

#contact .btn:hover {
  filter: brightness(1.2);
}

#contact img {
  max-width: 100%;
  padding: 2rem;
  margin-top: 8rem;
}

/*=== FOOTER ===========================================*/
footer {
  background-color: var(--secondary-color);
  padding-block: 6rem;
  text-align: left;
}

footer .logo {
  display: inline-block;
  font-size: 2rem;
  margin-bottom: 2.4rem;
}

footer p {
  line-height: 2;
  margin-bottom: 3.2rem;
  opacity: .9;
}

footer .social-links {
  justify-content: flex-start;
}

/*=== BACK TO TOP ===========================================*/
#backToTopButton {
  position: fixed;
  bottom: 1rem;
  right: 2.5rem;
  opacity: 0;
  visibility: hidden;
  transform: translateY(100%);
  transition: 300ms;
}

#backToTopButton.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}


/*=== RESPONSIVE ===========================================*/
@media (min-width: 1024px) {
  /* GERAL */
  body {
    overflow: auto;
  }
  .wrapper {
    width: min(112rem, 100%);
    display: grid;
  }

  .col-a {
    grid-area: A;
  }

  .col-b {
    grid-area: B;
  }

  section {
    padding-block: 16rem;
  }
  
  /*reset*/
  nav#navegation .wrapper * {
    margin: 0;
    padding: 0;
    visibility: initial;
    display: initial;
    opacity: initial;
    flex-direction: initial;
    position: initial;
    font-size: initial;
    font-weight: initial;
    transform: initial;
    /* color: initial; */
    background-color: initial;
  }

  nav#navegation .logo h2,
  nav#navegation .logo span {
    font-size: 2rem;
  }

  nav#navegation .logo span {
    font-weight: 500;
  }

  nav#navegation .close-menu,
  nav#navegation .open-menu,
  nav#navegation .social-links {
    display: none;
  }

  nav#navegation .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
  }

  nav#navegation .menu ul:nth-child(1) {
    display: flex;
    gap: 3.2rem;
  }

  nav#navegation .menu ul li a {
    opacity: 0.7;
  }

  nav#navegation .menu a.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2.4rem;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.8rem;
    transition: all .3s ease-in-out;
  }

  nav#navegation .menu a.button:hover {
    background-color: var(--main-color);
    filter: brightness(1.3);
  }

  nav#navegation.scroll .menu ul li a {
    opacity: 0.5;
  }

  nav#navegation.scroll .menu a.button {
    border-color: var(--primary-text-color);
    color: var(--primary-text-color);
    transition: all .3s ease-in-out;
  }

  nav#navegation .menu li a {
    transition: opacity 0.4s;
  }

  nav#navegation .menu li a:hover {
    opacity: 1;
    font-weight: 700;
  }

  nav#navegation .menu li a::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: var(--primary-text-color);
    position: relative;
    bottom: -1.9rem;
    left: -0.5rem;
    display: block;
    transition: width 0.3s;
  }

  nav#navegation.scroll .menu li a::after {
    background-color: var(--primary-text-color);
  }

  nav#navegation .menu li a:hover::after {
    padding-inline: 0.8rem;
    width: 100%;
  }

  nav#navegation.scroll .menu li a:hover {
    opacity: 1;
  }

  nav#navegation.scroll .menu a.button:hover {
    background-color: var(--primary-color);
    filter: brightness(1.3);
    border-color: var(--primary-color);
  }

  /*    HOME    */
  #home h4 {
    font-size: 1.7rem;
  }

  #home h1 {
    display: inline-block;
    width: 70rem;
    font-size: 7.2rem;
  }

  #home .content p {
    display: inline-block;
    width: 52rem;
    font-size: 2.2rem;
  }

  #home .home-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 2rem;
  }

  #home .home-btn a {
    margin: initial;
  }

  /*    SERVICE    */
  #services h4 {
    font-size: 1.7rem;
  }

  #services h2 {
    font-size: 4.8rem;
    width: 65rem;
    margin-inline: auto;
    line-height: 6rem;
  }

  #services .cards {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4rem;
  }

  #services .card {
    width: 40%;
    flex-grow: 1;
  }

  /*    SERVICE    */
  #works h4 {
    font-size: 1.7rem;
  }

  #works h2 {
    font-size: 4.8rem;
    width: 50rem;
    margin-inline: auto;
    line-height: 6rem;
  }

  #works .cards {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4rem;
  }

  #works .card {
    width: 30%;
    flex-grow: 1;
  }

  #works .card img {
    transition: all 300ms ease-in-out;
  }
  
  #works .card img:hover {
    transform: translate(-3%, 3%) scale(1.2);
  }

  /*    ABOUT    */
  #about .wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'B A';
    gap: 6.7rem;
  }

  #about h4 {
    font-size: 1.7rem;
  }

  #about h2 {
    font-size: 4.8rem;
    line-height: 6rem;
  }

  #about .col-a {
    align-self: center;
  }

  #about .col-b {
    align-self: center;
  }

  #about .content p {
    font-size: 1.8rem;
    margin-bottom: 0;
  }

  #about img {
    width: 100%;
    padding: 0;
    background: initial;
  }

   /*    CONTACT    */
   #contact .wrapper {
    grid-template-columns: 50rem 1fr;
    grid-template-areas: 'A B';
    gap: 1rem;
   }

   #contact h4 {
    font-size: 1.7rem;
  }

  #contact h2 {
    font-size: 4.8rem;
    line-height: 6rem;
  }

  #contact .content p {
    font-size: 1.8rem;
  }

  #contact img {
    max-width: 60rem;
  }

  #contact .col-b {
    align-self: center;
  }

  /*    FOOTER    */
  footer {
    padding-block: 8rem;
  }
  footer .wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'A B';
  }

  footer .col-b {
    align-self: center;
    justify-self: flex-end;
  }

  footer .col-a {
    align-self: center;
  }

  footer p {
    margin-bottom: 0;
  }
}